.top-nav{
	margin: 0 20px;
}
.open-info{
	.dropdown-menu{
		padding: 0 0;
		max-height: 232px;
		overflow-x: hidden;
		overflow-y: scroll;
		li{
			border-bottom: 1px solid #ccc;
		}
		li:nth-child(4){
			border: 0px;
		}
		.media-heading {
			margin: 5px 0;
		}
	}
}

.pag-nav{
	padding:  0 15px 0 0;
	ul{
		margin: 0!important;
	}
}
.tables{
	margin: 0 0;
}
.dataTimer{
	  display: inline-block;
	  border: 2px solid #ccc;
	  border-radius: 4px;
	  line-height: 26px;
	  padding-right: 4px;
	  background: #FFF;
	input{
		padding: .2em;
		border: none;
		  border-bottom: 1px solid #ccc;
	}

}
.nav-tag{
	line-height: 35px;
	i{
		vertical-align: middle;
	}
}
.btn-icon{
	margin: 0 5px;
}
.form-signin{
	width: 456px;
	margin: 100px auto;
	.checkbox{
		margin: 10px;
		margin-left: 20px;
	}
}
.falls-div{
	>div{
		float: left;
		margin: 10px;
		img{
			width: 225px;
			height: auto;
		}
	}
}
@media   (max-width:479px) {
	.top-nav{
		display: none;
	}
	.side-nav {
		li{
			ul{
				padding: 0 0!important;
				li{
					padding: 5px 20px;
					a{
						text-decoration: none;
						color: #FFF;
					}
					&:hover{
						background: #000;
					}
				}
			}
		}
	}
}
@media  (min-width:480px) and (max-width:767px) {
	.top-nav{
		  float: right !important;
		  margin: 5px 52px;
		  position: absolute;
		  top: 0;
		  right: 0;
		>li{
			float: left;
			position: relative;
			display: block;
		}
		.open{
			width: 129px;
			a{
				line-height: 29px;
				  margin-top: -4px;
			}
		}
		.open-info{
			width: 54px!important;
			ul{
				margin-top: 6px;
				margin-left: -318px;
			}
		}
		.dropdown-menu{
			background: #FFF !important;
			-webkit-box-shadow: 2px 2px 17px #999 !important;
			-moz-box-shadow: 2px 2px 17px #999 !important;
			-ms-box-shadow: 2px 2px 17px #999 !important;
			-o-box-shadow: 2px 2px 17px #999 !important;
			box-shadow: 2px 2px 17px #999 !important;
			li{
				a{
					color: #000!important;
				}
				&:hover{
					background: #f1f2f3!important;
				}
			}
		}
	}

	.side-nav {
		li{
			ul{
				padding: 0 0!important;
				li{
					padding: 5px 20px;
					a{
						text-decoration: none;
						color: #FFF;
					}
					&:hover{
						background: #000;
					}
				}
			}
		}
	}
}
@media (min-width:768px) {
	.wrapper{
		padding-left: 225px;
		margin-top: 50px;
	}
	.side-nav{
		position: fixed;
		display: inline-block;
		left: 0;
		top: 50px;
		width: 225px;
		background: #2C2C2C;;
		height: 100%;
		li{
			display: inline-block;
			width: 100%;
			i{
				margin-right: 10px;
			}
			ul{
				padding: 0;

				li{
					display: inline-block;
					padding: 15px 35px;
					cursor: pointer;
					&:hover{
						background: #000;
					}
					a{
						color: #ccc;
						text-decoration: none;

					}
				}
			}
		}
	}

	.breadcrumb{
		li{
			i{
				margin-right: 10px;
			}
		}
	}
	.publish-articles{
		display: inline-block;
	}
	.publish-row{
		margin-top: 20px;
	}

	.form-group{
		// margin:  10px 0;
	}
	
}
