.top-nav{
	margin: 0 20px;
}
.open-info{
	.dropdown-menu{
		padding: 0 0;
		max-height: 232px;
		overflow-x: hidden;
		overflow-y: scroll;
		li{
			border-bottom: 1px solid #ccc;
		}
		li:nth-child(4){
			border: 0px;
		}
		.media-heading {
			margin: 5px 0;
		}
	}
}

.pag-nav{
	padding:  0 15px 0 0;
	ul{
		margin: 0!important;
	}
}
.tables{
	margin: 0 0;
}
@media (min-width:768px) {
	.wrapper{
		padding-left: 225px;
		margin-top: 50px;
	}
	.side-nav{
		position: fixed;
		display: inline-block;
		left: 0;
		top: 50px;
		width: 225px;
		background: #2C2C2C;;
		height: 100%;
		li{
			display: inline-block;
			width: 100%;
			i{
				margin-right: 10px;
			}
		}
	}

	.breadcrumb{
		li{
			i{
				margin-right: 10px;
			}
		}
	}
	.publish-articles{
		display: inline-block;
	}
	.publish-row{
		margin-top: 20px;
	}

	.form-group{
		// margin:  10px 0;
	}
	
}
